@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(0);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1);
  }

  55% {
    animation-timing-function: ease-in;
    transform: scale(0.7);
  }

  72% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  81% {
    animation-timing-function: ease-in;
    transform: scale(0.84);
  }

  89% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  95% {
    animation-timing-function: ease-in;
    transform: scale(0.95);
  }

  100% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

/* Home Component */

.HomeDiv {
  background-color: black;
  height: 95vh;
}

#homeHeading {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 4px;
  word-spacing: 5px;
  color: white;
  animation: myAnim 2s ease 0s 1 normal none;
}

#homeHeadline {
  color: #329BDB;
  font-size: large;
  font-family: math;
  word-spacing: 5px;
  animation: myAnim 2s ease 0s 1 normal none;
}

/* Media Querry */

@media screen and (max-width: 500px) {
  #homeHeading {
    font-size: 70px !important;
    position: relative;
    bottom: 50px;
    padding: 20px !important;
  }

  #homeHeadline {
    font-size: medium;
    padding: 20px !important;
    position: relative;
    bottom: 80px;
  }
}

/* Footer Component */

footer {
  display: flex;
  justify-content: center !important;
  background: #111;
  height: auto;
  height: 30vh;
  margin-top: 20px;
  padding-top: 30px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

#contact {
  font-size: 35px;
  font-weight: bold;
}

.contactUl {
  list-style: none;
}

li {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  width: 40px;

}